body {
    background-color: #eeeeee;
}

.frm {
    width: 50%;
    position: relative;
    top: 25vh;
    left: 22vw;;
    /* transform: translate(45%, 300%); */
    margin: auto;
    display: inline-block;
}

.form-control {
    width: 80%;
    float: left;
}

.srcBtn {
    /* display: inline-block; */
    /* vertical-align: middle; */
    float: left;
}

.booktit {
    width: 50%;
    font-size: 48px;
    color: #696969;
    position: absolute;
    top: 10vh;
    left: 35vw;
    /* transform: translate(67%, 70%); */
    margin: auto;
}

@media screen and (max-width: 561px) {
    .booktit {
        font-size: 42px;
        left: 25vw;
    }
}

@media screen and (max-width: 492px) {
    .booktit {
        font-size: 32px;
    }
}

.card-img-top {
    min-width: 28%;
    max-width: 32%;
    height: 15vw;
    /* min-height: 15vw; */
    display: inline-block;
    /* float: left; */
    vertical-align: middle;
    /* object-fit: cover; */
    padding: 10px;
    transform: translateY(-10%)
}

@media screen and (max-width: 492px) {
    .card-img-top {
        height: 25vh;
        min-width: 50%;
        transform: translateY(-15px);
    }
}

.results {
    background-color:#ddd;
    position: relative;
    padding: 2em;
    top: 30vh;
    width: 100%; 
    /* height: 100vh; */
    min-height: 62vh;
    float: left;
}

.card-body {
    /* float: left; */
    display: inline-block;
}

.card-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    float: left;
    margin: 2.5%;
    width: 100%;
}